[submodule "src/submodules/dblp-to-csv"]
	path = src/submodules/dblp-to-csv
	url = https://github.com/ThomHurks/dblp-to-csv
[submodule "src/submodules/grobid_client_python"]
	path = src/submodules/grobid_client_python
	url = git@github.com:kermitt2/grobid_client_python.git
[submodule "src/submodules/PublicationsRetriever"]
	path = src/submodules/PublicationsRetriever
	url = https://github.com/LSmyrnaios/PublicationsRetriever.git
