MONGO_DB=
PAPERS_COL=
DBLP_DATASET=
STATS_COLLECTION=
MONGO_IP=
MONGO_USER=
MONGO_PASS=
PDF_PATH=
TEI_PATH=
JSON_PATH=
DBLP_CORPUS_PATH=
LOGS_PATH=
GROBID_CONFIG_PATH=
PUB_RETRIEVER_PATH=
OUTPUT_DATASET_PATH=
MODE=
DATASET_VERSION=
LATEST_DATE=