beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.5.0
idna==3.6
pymongo==4.6.1
python-dotenv==1.0.1
requests==2.31.0
soupsieve==2.5
urllib3==2.2.0
xmltodict==0.13.0
lxml==5.2.2